// Load Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600i,700');

// Global Variables
$black: #222626;
$white: #efefef;
$pure_white: #fff;
$primary_text: #959595;

body {
  font-family: 'Open Sans', sans-serif;
  background: $white;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
}

p {
  font-size: 0.85em;
  line-height: 1.7em;
  color: $primary_text;
  margin-bottom: 20px;
}



@mixin tablet_and_under() {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin mobile_and_under() {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin transition_($time) {
  transition: all $time ease-in-out;
}