header {
  height: 100vh;
  background-image: url(/images/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $pure_white;
  @include transition_(0.5s);
  @include tablet_and_under() {
    background-position: center right;
  }
  .logo-container {
    padding: 40px 0 0 0;
    display: flex;
    align-items: center;
    .logo {
      width: 30px;
      height: 30px;
      border: 2px solid $pure_white;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
      &:after {
        content: '';
        height: 12px;
        width: 12px;
        border: 2px solid $pure_white;
        border-radius: 100%;
        box-shadow: -2px -2px 6px 0 rgba(0, 0, 0, 0.5);
      }
    }
    span {
      display: inline-block;
      margin-left: 10px;
      font-style: italic;
    }
  }
  .header-caption {
    padding: 80px 0;
    max-width: 400px;
    @include transition_(0.3s);
    @include tablet_and_under() {
      top: 22%;
    }
    h2 {
      color: $pure_white;
      font-size: 48px;
      font-weight: 100;
      margin-bottom: 20px;
      text-shadow: -2px -2px 6px rgba(0, 0, 0, 0.5);

    }
    p {
      color: $pure_white;
      font-size: 12px;
      line-height: 1.6em;
      letter-spacing: 0.4px;
    }
  }
}