main {
  h2 {
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 20px;
  }
  @mixin mask($opacity) {
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      background-color: $opacity;
      z-index: 1;
    }
  }
  /* ========================================================
  Below hero section
  ======================================================== */
  #below-hero-wrapper {
    margin-top: 80px;
    margin-bottom: 40px;
    @include mobile_and_under() {
      margin-top: 30px;
    }
  }
  /* ========================================================
  Squares section
  ======================================================== */
  .squares-container {
    padding: 0;
  }
  .chunk span {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
    cursor: pointer;
    padding: 10px 0;
    span {
      display: inline-block;
      font-weight: 100;
      margin-left: 6px;
      transform: translateX(0);
      @include transition_(0.2s);
    }
    &:hover {
      span {
        transform: translateX(6px);
      }
    }
  }
  .squares-wrapper {
    display: flex;
    overflow-x: scroll;
    .chunk {
      position: relative;
    }
    .find-out-more {
      position: absolute;
      bottom: 30px;
    }
    .square {
      min-width: 320px;
      height: 220px;
      padding: 40px;
      background-color: grey;
      h3,
      p,
      span {
        color: $pure_white;
        z-index: 2;
        position: relative;
      }
      h3 {
        margin-bottom: 16px;
        font-weight: 100;
        font-size: 24px;
      }
      p {
        font-size: 12px;
        font-weight: 100;
        line-height: 1.75em;
        margin-bottom: 20px;
      }
    }
    .pink {
      background-color: #f5989d;
    }
    .pink2 {
      background-color: #bd8cbf;
    }
    .purple {
      background-color: #615f7d;
    }
    .green {
      background-color: #82ca9c;
    }
    .custom-image1,
    .custom-image2,
    .custom-image3 {
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      @include mask(rgba(0, 0, 0, 0.4));
    }
    .custom-image1 {
      background-image: url(/images/photographer.jpg);
      background-position: center;
    }
    .custom-image2 {
      background-image: url(/images/snow.jpg);
      background-position: center top;
    }
    .custom-image3 {
      background-image: url(/images/valley.jpg);
      background-position: center;
    }
    .double-wide {
      min-width: 600px;
      background-color: lightgrey;
    }
  }
  .details-section {
    margin-top: 80px;
    h2 {
      margin-bottom: 60px;
    }
    h4 {
      color: $black;
      margin-bottom: 20px;
    }
  }
  /* ========================================================
  Full width image section
  ======================================================== */
  .full-width-image-section {
    margin-top: 100px;
    height: 80vh;
    background-image: url(/images/chicago.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    position: relative;
    @include mask(rgba(0, 0, 0, 0.4));
    .chunk {
      margin-top: 35%;
      z-index: 2;
      max-width: 350px;
    }
    h2,
    p,
    span {
      color: $pure_white;
    }
  }
}